<div id="alert_msg">
    <% if(typeof errors !== 'undefined') {%>
    <% errors.forEach(function(error){ %>
    <div class="alert alert-warning alert-dismissible fade in">
        <strong><%= error.msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            &times;
        </button>
    </div>
    <% });%>
    <% } %>

    <% if(success_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade in">
        <strong><%= success_msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            &times;
        </button>
    </div>
    <% } %>

    <% if(error_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade in">
        <!-- EJS-taggen nedan ändrad för att kunna visa unescaped HTML (Förut = efter %)-->
        <strong><%- error_msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            &times;
        </button>
    </div>
    <% } %>

    <% if(error != ''){ %>
    <div class="alert alert-warning alert-dismissible fade in">
        <strong><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

</div>