<link rel="stylesheet" type="text/css" href="/CSS/profilesettings.css">

<% include ./navbar.ejs %>


<% include ./partials/messages %>
<div class="container-fluid" id="profile-settings-container">
    <div class="row">
        <div id="profile-settings-page" class="col-sm-12" style="height:2000px">
            <% if(!Developer && !Outsourcer) {%>
            <div class="alert alert-warning alert-dismissible fade in"
                style="width: 370px; margin-left: 450px; margin-top: 20px;">
                <strong>You must mark user type.
                    <br>And your profile settings must be updated!
                </strong>
                <button type=" button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>


            <form action="/profilesetroute/profilesettings" method="POST" onkeypress="return event.keyCode != 13;">
                <!--<form action="/profilesetroute/profilesettings" method="POST" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">-->

                <div id="settings-form" class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 tabs-bar-outer" >
                            <div class="col-sm-4 background-color-2  tabs-bar-inner-dimmed">
                                <a href="/profilesetroute/profilesettings"><h4 style="margin-top: 16px;margin-bottom: 4px;">Profile Settings</h4></a>
                            </div>
                            <div class="col-sm-4 background-color-2 tabs-bar-inner-dimmed">
                                <a href="/userratingroute/userratingpage"><h4 style="margin-top: 16px;margin-bottom: 4px;">Rating page</h4></a>
                            </div>
                            <div class="col-sm-4 background-color-1 color-inverted-text tabs-bar-inner" style="border-right-width: 0;">
                                <h4 id="header-profile">Account settings</h4>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div id="settings-form" class="col-sm-8 form-group border-1"  style="padding-bottom:200px">
                            <h3><span class="glyphicon glyphicon-cog"></span> Account settings </h3>
                            <br>
                            <br>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8" id="buttonchangepassword">
                                <a href="/users/changepassword" class="btn btn-warning btn-block btn-lg">
                                    <span class="glyphicon glyphicon-edit"></span> Change Password
                                </a>
                                <br>
                                <a href="/users/closeaccount" class="btn btn-danger btn-block btn-lg">
                                    <span class="glyphicon glyphicon-remove"></span> Close Account
                                </a>
                                <br>
                                <a href="/dashboard" class="btn btn-success btn-block btn-lg">
                                    <span class="glyphicon glyphicon-primary"></span>Cancel
                                </a>
                            </div>
                            <div class="col-sm-2"></div>



                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/ClientSideJS/profileSettingsClient.js"></script>
