<link rel="stylesheet" type="text/css" href="/CSS/navbar.css">
<% include ./navbar.ejs %>

<div class="col-sm-4"></div>

<div id="changepassword-form" class="col-sm-4">
    <h2>Change your password</h2>
    <% include ./partials/messages %>
    <form action="/resetpassword/changepassword" method="POST">
        <label for="password"><span class="glyphicon glyphicon-lock"></span> Current Password</label>
        <input type="password" name="password" class="form-control" id="password"
            placeholder="Write your current password" value="<%=typeof text != 'undefined' ? text : '' %>">
        <br>
        <label for="mewpassword"><span class="glyphicon glyphicon-lock"></span> New password</label>
        <input type="password" name="newpassword" class="form-control" id="newpassword" placeholder="Enter new password"
            value="<%=typeof text != 'undefined' ? text : '' %>">

        <br>
        <label for="confirmnewpassword"><span class="glyphicon glyphicon-lock"></span> Confirm new password</label>
        <input type="password" name="confirmnewpassword" class="form-control" id="confirmnewpassword"
            placeholder="Confirm new password" value="<%=typeof text != 'undefined' ? text : '' %>">
        <br>
        <button type="submit" class="btn btn-default btn-sm btn btn-danger"><span class="glyphicon glyphicon-log-in"></span> Change
            password
        </button>
    </form>
</div>
<div class="col-sm-4"></div>