<link rel="stylesheet" type="text/css" href="/CSS/navbar.css">
<% include ./navbar.ejs %>
<div class="col-sm-4"></div>
<!-- //samma css style for forgotten password -->
<div id="forgottenpassword-form" class="col-sm-4" style="margin-top:100px">
    <h2>Close your account</h2>
    <% include ./partials/messages %>
    <!-- in the file resetpassword.js use post method with argument forgottenpassword router.post('/forgottenpassword', (req, res, next) -->
    <form action="/closeaccount/closeaccount" method="POST">
        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="Current email"
            value="<%=typeof text != 'undefined' ? text : '' %>">
            <br>
        <label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Current password"
            value="<%=typeof text != 'undefined' ? text : '' %>">
        <br>
        <button type="submit" class="btn btn-default btn-sm btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Close
            account
        </button>
    </form>
</div>

<div class="col-sm-4"></div>