<link rel="stylesheet" type="text/css" href="/CSS/createproject.css">
<% include ./navbar.ejs %>
<% include ./partials/messages %>
<div class="container create-project-wrapper">
    <div class="row">
        <div class="form-container-create col-sm-12" id="form-container-create">
            <form class="create-project-form" id="create-project-form" action="/projects/createproject" method="POST"
                onkeypress="return event.keyCode != 13;">
                <h3 class="mt-4">Create new project</h3>
                <div class="form-border col-sm-12">
                    <section class="col-sm-6 top-form-section">
                        <div class="form-group" id="create-project-title">
                            <label for="title">Title</label>
                            <input type="title" class="form-control" id="title" name="title" placeholder="Write title"
                                value="<%= typeof title != 'undefined' ? title : '' %>">
                        </div>
                        <div class="form-group create-project-description" id="create-project-description">
                            <label for="description">Description</label>
                            <textarea type="description" class="form-control create-project-description"
                                id="description-textarea" name="description"
                                value="<%= typeof description != 'undefined' ? description : '' %>"></textarea>
                        </div>
                        <div class="form-group" id="create-project-requirements">
                            <label for="requirements" id="label">Requirements</label>
                            <input type="requirements" class="form-control" id="requirements-input"
                                name="requirementsString" placeholder="Write requirements"
                                value="<%= typeof requirements != 'undefined' ? requirements : '' %>">
                            <div class="tag-container-project row" id="written-tags-container" name="writtenTags">

                            </div>
                            <input id="hidden-input" name="tagsArray" style="visibility: hidden;" value="">
                        </div>
                    </section>
                    <section class="col-sm-6 middle-form-section">
                        <div class="form-group" id="dev-amount-container">
                            <label for="devAmount">How many developers needed</label>
                            <input type="devAmount" class="form-control" id="dev-amount" name="devAmount"
                                placeholder="nr" value="<%= typeof devAmount != 'undefined' ? devAmount : '' %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select type of payment</label>
                            <select type="payment" class="form-control" id="payment" name="payment"
                                value="<%= typeof payment != 'undefined' ? payment : '' %>">
                                <option>No pay</option>
                                <option>Share</option>
                                <option>Money</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="/CVupload">Upload a PDF file</a>
                        </div>
                        <embed src="/<%= uploadCV %>" width="500px" height="200px" />

                    </section>
                    <section class="col-sm-12 lower-form-section">
                        <div class="col-sm-4 cancel-btn-container">
                            <a href="/dashboard" class="btn btn-primary btn-block col-sm-4" id="cancel-btn">
                                Cancel
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" name="savetodraftProjectButton"
                                class="btn btn-primary btn-block col-sm-4" id="save-btn">
                                Save to draft
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" name="createProjectButton" class="btn btn-primary btn-block"
                                id="create-btn">
                                Create
                            </button>
                        </div>
                    </section>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="/ClientSideJS/createProjectClient.js"></script>