<form action="/CVupload/dashboard" method="POST" enctype="multipart/form-data"
    onkeypress="return event.keyCode != 13;">
    <input name="CV" type="file" value="<%= typeof User != 'undefined' ? User: '' %>">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
