<% include ./navbar.ejs %>
<link rel="stylesheet" type="text/css" href="/CSS/dashboard.css">

<div id="dashboard-container" class="container-fluid">
    <div id="taskSide-outerframe">
        <div id="taskSide">
            <div id="project-card-header" class="background-color-1">
                <h5>Latest projects for application</h5>
            </div>
            <% if(noMatch !== null) { %>
            <h5><%= noMatch %></h5>
            <% } else { %>
            <% let j = -1 %>
            <% projects.forEach(function(projects){ %>
            <% j++%>
            <div id="no-wrap" class="project-card">
                <div class="col-sm-2">
                    <img id="profile-card-pic" src="/<%= projects.projectImage %>">
                    <!--
                    <% if (projects.projectImage.charAt(0) == "h") { %> <%# För testbilder via webAPI %>
                            <img id="profile-card-pic" src="<%= projects.projectImage %>">
                    <%  } else { %> <%# För riktiga bilder, inlagda manuellt %>
                            <img id="profile-card-pic" src="/<%= projects.projectImage %>">
                    <%  }  %>
                    -->


                    <a name="<%= j%>" type="submit" id="project-card-info-btn">
                        <button name="<%= j%>" id="<%= projects._id%>" class="allprojects btn btn-primary btn-xs" style="white-space: normal;">More
                            Info</button>
                    </a>
                </div>
                <div class="col-sm-10">
                    <div id="project-card-inner-wrapper" class="container-fluid">
                        <h4 id="project-card-task-title">
                            <%= projects.title %>
                        </h4>
                        <p id="project-card-task-description">
                            <% let maxLength = 130; %>
                            <% let ellipsis = "";  %>
                            <% if (projects.description.length > maxLength) { %>
                            <%    ellipsis = " . . . ";                             %>
                            <% } else {                             %>
                            <%      let filloutString = " \u00A0".repeat((maxLength - projects.description.length)/2);      %>
                            <%      projects.description = projects.description.concat(filloutString);  %>
                            <% } %>
                            <%=     projects.description.slice(0,maxLength).concat(ellipsis) %>
                            <br>
                            Språk: <%= projects.requirements %>
                        </p>
                        <div id="project-card-date-and-button-wrapper">
                            <p id="project-card-date"><%= projects.date %></p>
                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
            <% } %>

            <!-- *****  Pagination - Sidindelning av projekt ***** -->
            <% let projPageNumber = parseInt(projectsPageNumber);   %>
            <% let nextPage = projPageNumber + 1;                   %>
            <% let prevPage = projPageNumber - 1;                   %>
            <% let paginationLinks = Math.ceil(projectsCount / projectsPerPage); %>
            <% let targetFirstPage;                                 %>
            <% let paginationClass = "";                                 %>
            <% console.log("projPageNumber: " + projPageNumber); %>

            <div class="pagination">
                <!-- Previous-knapp -->
                <% if (projPageNumber > 1){                         %>
                <a href="/dashboard?page=<%=prevPage%>">&laquo;</a>
                <% } else {                                         %>
                <a class="pagination-prev-link-hidden" href="">&laquo;</a>
                <% }                                                %>

                <%  if (projPageNumber < 4) {                       %>
                <%    targetFirstPage = 1;                          %>
                <%  } else {                                        %>
                <%    targetFirstPage = projPageNumber - 2;         %>
                <%  }                                               %>

                <%  if (projectsCount <= (targetFirstPage - 1) * projectsPerPage) targetFirstPage = ""; %>
                <% if (projectsCount <= ((projPageNumber * projectsPerPage) + (3 * projectsPerPage))) { %>
                <%  targetFirstPage = Math.ceil(projectsCount / projectsPerPage) - 5; %>
                <%  if (targetFirstPage < 1) targetFirstPage = 1; %>
                <% } %>
                <% for (i = 0; i < paginationLinks && i < 6; i ++) { %>
                <% if((targetFirstPage + i) == (projPageNumber)) paginationClass = "active";%>
                <a class="<%=paginationClass%>" href="/dashboard?page=<%=targetFirstPage+i%>"><%=targetFirstPage+i%></a>
                <% paginationClass = ""; %>
                <% } %>

                <% if (projPageNumber < Math.ceil(projectsCount / projectsPerPage)) { %>
                <a id="pagination-next-btn" href="/dashboard?page=<%=nextPage%>">&raquo;</a>
                <% } %>
            </div>
        </div>

    </div>
    <!-- <div id="page-center-side" class="rounded-corners">  use me -->
    <!-- <div id="page-center-and-task-contact-side" class="container-fluid">
        <div class="row"> -->
            <!--<div id="taskSide-outerframe" class="col-sm-3">-->
    <div id="page-center-side" class="rounded-corners">

                <div id="show-project">
                    <div id="show-project-content"></div>
                    <div id="requestlist"></div>
                    <div id="show-project-btns" class="btn-group"></div>

                    <!-- Modal -->
                    <div class="modal fade" id="developerModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Developer CV</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img id="developerCVImg" style="width: 100px;">
                                            <br>
                                            <h6>
                                                <p id="developerCVNameContent"></p>
                                            </h6>
                                        </div>
                                        <div class="col-sm-8">
                                            <p id="developerCVContent"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form action="/dashboard" method="GET">
                                        <a id="useracceptedBtn" name="useracceptedBtn"
                                            class="acceptThisUser btn btn-success navbar-btn" type="submit">Accept this
                                            user</a>
                                    </form>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
    </div>

    <div id="taskAndContactSide-outerframe">
        <div id="taskAndContactSide">
            <div id="project-card-header" class="background-color-1">
                <span id="userId" style="display: none"><%= userId%></span>
                <h5>My projects</h5>
            </div>
            <%#console.log("#####" + userProjects);%>
            <% let j = -1 %>
            <% userProjects.forEach(function(userProjects){ %>
            <% j++%>
            <div id="no-wrap" class="project-card">
                <div class="col-sm-2">
                    <img id="profile-card-pic" src="/<%= profileImage%>">
                    <!--<h5 id="task-outSourcer"></h5>-->
                    <button name="<%= j%>" id="<%= userProjects._id%>" class="usersprojects btn btn-primary btn-xs" style="white-space: normal;">More
                        Info</button>
                </div>
                <div class="col-sm-10">
                    <div class="container-fluid">
                        <h4 id="project-card-task-title">
                            <%= userProjects.title %>
                        </h4>
                        <p id="project-card-task-description">
                            <% let maxLength = 130; %>
                            <% let ellipsis = "";  %>
                            <% if (userProjects.description.length > maxLength) { %>
                            <%    ellipsis = " . . . ";                             %>
                            <% } else {                             %>
                            <%      let filloutString = " \u00A0".repeat((maxLength - userProjects.description.length)/2);      %>
                            <%      userProjects.description = userProjects.description.concat(filloutString);  %>
                            <% } %>
                            <%=     userProjects.description.slice(0,maxLength).concat(ellipsis) %>
                        </p>
                    </div>
                    <div id="project-card-date-and-button-wrapper">

                        <h5 id="project-card-date"><%= userProjects.date %></h5>

                    </div>
                    <br>
                    <span id="projectBadge" class="<%= userProjects._id%> badge">Developer
                        Requests: <%=userProjects.devList.length%></span>
                    <span id="userToProjectBadge" class="<%= userProjects._id%> badge">
                        Accepted Developers: <%=userProjects.devAcceptedList.length%></span>
                </div>

            </div>

            <% }); %>

        </div>
    </div>
</div>

<script type="text/javascript" src="/ClientSideJS/dashboard.js"></script>
