<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p>
                <h3 id="slogan">Plant your idea and make IT reality!</h3>
            </p>
        </div>
    </div>
</nav>

<div class="col-sm-4"></div>

<div id="forgottenpassword-form" class="col-sm-4">
    <h2>Reset your Password</h2>
    <% include ./partials/messages %>
    <form action="/resetpassword/forgottenpassword" method="POST">
        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email"
            value="<%=typeof email != 'undefined' ? email : '' %>">
        <br>
        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-in"></span> Reset
            password</button>
    </form>
</div>
<div class="col-sm-4"></div>