<div class="row" style="background-color: #354e56;">

    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div id="image-roof">
            <img src="/greenhouse-roof.png" width="450">
        </div>
        <div id="login-form">
            <h2>Login</h2>
            <% include ./partials/messages %>
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me!</label>
                    <br><a href="/users/forgottenpassword">Forgot password?</a>
                    <br><a href="/users/register">Register New Account.</a>
                </div>
                <button  id="login-button" type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-in"></span>
                    Login</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>
