<link rel="stylesheet" type="text/css" href="/CSS/navbar.css">

<nav class="navbar navbar-default navbar-fixed-top" id="navbar-header">
    <div class="container-fluid">
        <div id="navbar-wrapper">

            <!-- ** LOGOTYPE *************** -->
            <div class="navbar-header">
                <a class="navbar-brand" id="navbar-logo-wrapper" href="/dashboard">
                    <div id="search-bar-logo">
                        <img src="/logga02.png" height="46">
                    </div>
                </a>
            </div>

            <!-- ** SEARCH BAR *************** -->
            <div id="navbar-middle-wrapper" class="container-fluid">
                <form role="search" action="/dashboard" method="GET">
                    <div class="input-group add-on" id="search-bar-field">
                        <input class="form-control" placeholder="Search" name="search" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i
                                    class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ** MATCH ME *************** -->
            <div id="navbar-buttons-wrapper" class="container-fluid">

                <form action="/dashboard" method="GET">
                    <div class="navbar-button" id="navbar-button-wrapper">
                        <a href="/match" class="btn btn-success navbar-btn" type="submit" id="matchUserBtn"
                            <% if(Developer) { %> style="display:inline-block" <% } %>>MATCH
                            ME</a>
                    </div>
                </form>

                <!-- ** CREATE PROJECT *************** -->
                <a href="/projects/createproject">
                    <div class="navbar-button" id="navbar-button-wrapper">
                        <button class="btn btn-success navbar-btn" type="button" name="createProjectBtn"
                            value="Create Project" id="createProjectBtn" <% if(Outsourcer) { %>
                            style="display:inline-block" <% } %>>CREATE PROJECT</button>
                    </div>
                </a>
            </div>

            <!--
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group add-on" id="search-bar-field">
                            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>


                <li>
                    <div class="navbar-button" id="navbar-button-wrapper">
                        <button class="btn btn-success navbar-btn" id="navbar-button">MATCH ME</button>
                    </div>
                </li>
                <li>
                    <div class="navbar-button" id="navbar-button-wrapper">
                        <button class="btn btn-success navbar-btn" id="navbar-button">CREATE PROJECT</button>
                    </div>
                </li>
            </ul>
            -->
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a id="dropdown-menu" class="dropdown-toggle" data-toggle="dropdown" href="/dashboard">

                    <%= firstname %>
                    <%= lastname %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/userratingroute/userratingpage">Rating Page</a></li>
                    <li><a href="/profilesetroute/profilesettings">Profile Settings</a></li>
                    <li><a href="/users/accountsettings">Account Settings</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="/dashboard" id="profile-pic-wrapper">
                    <img id="profile-card-pic" src="/<%= profileImage %>" height="52" width="52" style="background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fsvg%2F118%2F118781.svg&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fprofile_118781&docid=BIMojjm0h6eTHM&tbnid=fNpTccWuPaPWpM%3A&vet=10ahUKEwjptJzmob7iAhUsAxAIHaLNACgQMwg_KAAwAA..i&w=800&h=800&bih=920&biw=1920&q=profile%20icon&ved=0ahUKEwjptJzmob7iAhUsAxAIHaLNACgQMwg_KAAwAA&iact=mrc&uact=8")">
                </a>
            </li>
        </ul>
    </div>
</nav>
