<form action="/photoupload/dashboard" method="POST" enctype="multipart/form-data"
    onkeypress="return event.keyCode != 13;">
    <input name="photo" type="file" value="<%= typeof User != 'undefined' ? User: '' %>">
    <button type="submit" class="btn btn-default">Upload</button>
</form>
<div>
    <img src="<%= typeof profileImage != 'undefined' ? profileImage: '' %>" class="responsive-img">
</div>