<link rel="stylesheet" type="text/css" href="/CSS/profilesettings.css">

<% include ./navbar.ejs %>


<% include ./partials/messages %>
<div class="container-fluid" id="profile-settings-container">
    <div class="row">
        <div id="profile-settings-page" class="col-sm-12">
            <% if(!Developer && !Outsourcer) {%>
            <div class="alert alert-warning alert-dismissible fade in"
                style="width: 370px; margin-left: 450px; margin-top: 20px;">
                <strong>You must mark user type.
                    <br>And your profile settings must be updated!
                </strong>
                <button type=" button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>


            <form action="/profilesetroute/profilesettings" method="POST" onkeypress="return event.keyCode != 13;">
                <!--<form action="/profilesetroute/profilesettings" method="POST" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">-->

                <div id="settings-form" class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
<<<<<<< HEAD
                        <div class="col-sm-3">
                            <label for="userNickName">Nick Name</label><br>
                            <input type="text" name="userNickName" id="userNickName" placeholder="Nick Name"
                                value="<%=typeof userNickName != 'undefined' ? userNickName: '' %>"><br><br>
                            <label for="phonenr">Phone Number</label><br>
                            <input type="tel" name="phonenr" id="phonenr" placeholder="Phone number"
                                value="<%=typeof phonenr != 'undefined' ? phonenr: '' %>"><br><br>
                            <label for="webpage">Webpage</label><br>
                            <input type="text" name="webpage" id="webpage" placeholder="Webpage"
                                value="<%=typeof webpage != 'undefined' ? webpage: '' %>"><br><br>
                            <label for="email">Email</label><br>
                            <input type="email" name="email" id="email" placeholder="Email"
                                value="<%=typeof email != 'undefined' ? email: '' %>" readonly><br><br>
                            <div class="container-tags-input" id="container-tags-input" <% if(Developer) {%>
                                style="display: inline;" <% } if(!Developer) { %> style="display: none " <% } %>">
                                <label id="devCompetenceLabel" for="devCompetence">Competence *</label>
                                <div class="tag-container-user">
                                    <input name="devCompetence" id="devCompetenceInput" placeholder="Competence">
                                </div>
                                <div class="tag-container row">
=======
                        <div class="col-sm-8 tabs-bar-outer" >
                            <div class="col-sm-4 background-color-1 color-inverted-text tabs-bar-inner">
                                <h4 id="header-profile">Profile Settings</h4>
                            </div>
                            <div class="col-sm-4 background-color-2 tabs-bar-inner-dimmed">
                                <a href="/userratingroute/userratingpage"><h4 style="margin-top: 16px;margin-bottom: 4px;">Rating page</h4></a>
                            </div>
                            <div class="col-sm-4 background-color-2 tabs-bar-inner-dimmed" style="border-right-width: 0;">
                                <a href="/users/accountsettings"><h4 style="margin-top: 16px;margin-bottom: 4px;">Account settings</h4></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div id="settings-form" class="col-sm-8 form-group border-1" >
                            <div class="col-sm-3">
                                <input class="checkBox form-check-input form-field-margin" type="checkbox" onclick="outsourcerCheckbox()" id="profileTypeOutsourcer" name="Outsourcer" value="true" <% if(Outsourcer) { %> checked
                                <% } %>> I'm an Outsourcer<br>
                                <input class="checkBox form-check-input form-field-margin" type="checkbox" onclick="devCompetenceCheckbox()" id="profileTypeDeveloper" name="Developer" value="true" <% if(Developer) { %> checked
                                <% } %>>
                                I'm a Developer<br>
>>>>>>> 4e742d6a4b80f9274a1b0c2eddd14d0d4afaa449

                                <label for="companyName">Company</label>
                                <input type="text" name="companyName" id="companyName" class="form-control form-field-margin" placeholder="Company" value="<%=typeof companyName != 'undefined' ? companyName: '' %>">
                                <label for="firstname">First Name *</label>
                                <input type="text" name="firstname" id="firstname" class="form-control form-field-margin" placeholder="First name" value="<%=typeof firstname != 'undefined' ? firstname: '' %>">
                                <label for="lastname">Last Name *</label>
                                <input type="text" name="lastname" id="lastname" class="form-control form-field-margin" placeholder="Last Name" value="<%=typeof lastname != 'undefined' ? lastname: '' %>">
                                <label for="address">Address</label>
                                <input type="text" name="address" id="address" class="form-control form-field-margin" placeholder="Address" value="<%=typeof address != 'undefined' ? address: '' %>">
                                <label for="postalcode">Postal Code</label>
                                <input type="text" name="postalCode" id="postalcode" class="form-control form-field-margin" placeholder="Postal Code" value="<%=typeof postalCode != 'undefined' ? postalCode: '' %>">
                                <label for="countryName">Country</label>
                                <input type="text" name="countryName" id="countryName" class="form-control form-field-margin" placeholder="Country" value="<%=typeof countryName != 'undefined' ? countryName: '' %>">
                            </div>
                            <div class="col-sm-3">
                                <label for="userNickName">Nick Name</label>
                                <input type="text" name="userNickName" id="userNickName" class="form-control form-field-margin" placeholder="Nick Name" value="<%=typeof userNickName != 'undefined' ? userNickName: '' %>">
                                <label for="phonenr">Phone Number</label>
                                <input type="tel" name="phonenr" id="phonenr" class="form-control form-field-margin" placeholder="Phone number" value="<%=typeof phonenr != 'undefined' ? phonenr: '' %>">
                                <label for="webpage">Webpage</label>
                                <input type="text" name="webpage" id="webpage" class="form-control form-field-margin" placeholder="Webpage" value="<%=typeof webpage != 'undefined' ? webpage: '' %>">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control form-field-margin" placeholder="Email" value="<%=typeof email != 'undefined' ? email: '' %>" readonly>
                                <div class="container-tags-input" id="container-tags-input" <% if(Developer) {%>
                                    style="display: inline;"
                                    <% } if(!Developer) { %> style="display: none "
                                    <% } %>">
                                    <label id="devCompetenceLabel" for="devCompetence">Competence *</label>
                                    <div class="tag-container-user">
                                        <input name="devCompetence" id="devCompetenceInput" class="form-control" placeholder="Competence" />
                                    </div>
                                    <div class="tag-container row">

                                        <% try { devCompetence.forEach(function(element) { %>
                                        <div class="tag col-sm-1">
                                            <span id="span-tag-text">
                                                <%= element %>
                                            </span>
                                            <i class="material-icons glyphicon glyphicon-remove" data-item="<%= element %>" id="tag-btn"></i>
                                        </div>
                                        <% }) %>
                                        <% } catch(devCompetence) { console.log("nothing to render from competences") } %>

                                    </div>
                                    <input id="hidden-input" name="tagsArray" style="visibility: hidden;" value="">
                                    <!-- Hidden Input för att skicka value av tags array on form submit -->
                                </div>
                                <br><br>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-3">
                                <h2 style="text-align:center">Your Profile Card</h2>

                                <div class="user-card">
                                    <div class="file-field input-field">
                                        <div class="form-group">

                                        </div>
                                        <div class="file-path-wrapper">

                                        </div>
                                        <a href="/photoupload"><img id="profile-card-pic" src="/<%= profileImage %>"
                                                class="media-object" height="70" width="70"></a>

                                    </div>
                                    <h5> <%= firstname %> <%= lastname %></h5>
                                    <% if(Outsourcer) { %> <h6> I'm Outsourcer</h6> <% } %>
                                    <% if(Developer) { %> <h6> I'm Developer</h6> <% } %>
                                    <h6><%= devCompetence %></h6>
                                </div>
                                <button type="submit" class="btn btn-primary" id="submit-btn">Update</button>

                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
<<<<<<< HEAD
                        <embed src="/<%= uploadCV %>" width="700px" height="200px" />
                           
                    </div> 
                    <button type="submit" class="btn btn-primary" id="submit-btn">Update</button>
                    <a type="button" href="/dashboard" class="btn btn-primary" id="cancel">Cancel</a>
=======
                        <div class="col-sm-2">
                        </div>
                    </div>
>>>>>>> 4e742d6a4b80f9274a1b0c2eddd14d0d4afaa449
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/ClientSideJS/profileSettingsClient.js"></script>
