<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p>
                <h3 id="slogan">Plant your idea and make IT reality!</h3>
            </p>
        </div>
    </div>
</nav>

<div class="col-sm-4"></div>

<div id="register-form" class="col-sm-4">
    <h2>Register</h2>
    <% include ./partials/messages %>
    <form action="/users/register" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name"
            value="<%=typeof firstname != 'undefined' ? firstname : '' %>">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name"
            value="<%=typeof lastname != 'undefined' ? lastname : '' %>">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"
            value="<%=typeof email != 'undefined' ? email : '' %>">
        <label for="email2">Confirm Email</label>
        <input type="email" class="form-control" name="email2" id="email2" placeholder="Confirm email"
            value="<%=typeof email2 != 'undefined' ? email2 : '' %>">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Create password"
            value="<%=typeof password != 'undefined' ? password : '' %>">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password"
            value="<%=typeof password2 != 'undefined' ? password2 : '' %>">
        <br>
        <input type="checkbox"> <a href="#">Accept policy and terms of use.</a>
        <button type="submit" class="btn btn-default">Register</button>

        <br>
        <label>Have a Account <a href="/">Login </a> </label> <br>
        <label>Forgot password <a href="/users/forgottenpassword">Reset Password </a> </label>
        </div> <div class="col-sm-4"></div>
        
    </form>
</div>