
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p>
                <h3 id="slogan">Plant your idea and make IT reality!</h3>
            </p>
        </div>
    </div>
</nav>

<div class="col-sm-4"></div>

<div id="resetpassword-form" class="col-sm-4">
    <h2>Reset your password</h2>
    <% include ./partials/messages %>
    <form method="POST">
        
        <label for="newpassword"><span class="glyphicon glyphicon-lock"></span>New password</label>
        <input type="password" name="newpassword" class="form-control" id="newpassword" placeholder="Enter new passwprd"
            value="<%=typeof text != 'undefined' ? text : '' %>">

        <br>
        <label for="confirmnewpassword"><span class="glyphicon glyphicon-lock"></span>Confirm new password</label>
        <input type="password" name="confirmnewpassword" class="form-control" id="confirmnewpassword" placeholder="Confirm new password"
            value="<%=typeof text != 'undefined' ? text : '' %>">
        <br>
        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-in"></span> Reset password
            </button>
    </form>
</div>
<div class="col-sm-4"></div>