<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <p>
                <h3 id="slogan">Plant your idea and make IT reality!</h3>
            </p>
        </div>
    </div>
</nav>

<div class="col-sm-4">

</div>
<div id="login-form" class="col-sm-4">
    <h2>Resend email verification</h2>
    <% include ./partials/messages %>
    <form action="/users/resend-verification" method="POST">
        <div class="form-group">
            <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Resend email
            </button>
    </form>
</div>
<div class="col-sm-4">

</div>
