<link rel="stylesheet" type="text/css" href="/CSS/tasksidebar.css">
<div class="taskcontainer">
    <div class="row">
        <div class="project">
            <p>Title: <%= title %></p>
            <p>Created by: <%= firstname %> <%= lastname %></p>
            <p>Test, kort beskrivning av project som skapats. </p>
            <p>Created: 20190430 10:30</p>
        </div>
    </div>
</div>