<link rel="stylesheet" type="text/css" href="/CSS/profilesettings.css">
<link rel="stylesheet" type="text/css" href="/CSS/userratingpage.css">

<% include ./navbar.ejs %>


<% include ./partials/messages %>
<div class="container-fluid" id="profile-settings-container">
    <div class="row">
        <div id="profile-settings-page" class="col-sm-12">
            <% if(!Developer && !Outsourcer) {%>
            <div class="alert alert-warning alert-dismissible fade in"
                style="width: 370px; margin-left: 450px; margin-top: 20px;">
                <strong>You must mark user type.
                    <br>And your profile settings must be updated!
                </strong>
                <button type=" button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>


            <form action="/profilesetroute/profilesettings" method="POST" onkeypress="return event.keyCode != 13;">
                <!--<form action="/profilesetroute/profilesettings" method="POST" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">-->

                <div id="settings-form" class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 tabs-bar-outer">
                            <div class="col-sm-4 background-color-2  tabs-bar-inner-dimmed">
                                <a href="/profilesetroute/profilesettings">
                                    <h4 style="margin-top: 16px; margin-bottom: 4px;">Profile Settings</h4>
                                </a>
                            </div>
                            <div class="col-sm-4 background-color-1 color-inverted-text tabs-bar-inner">
                                <h4 id="header-profile">Rating page</h4>
                            </div>
                            <div class="col-sm-4 background-color-2 tabs-bar-inner-dimmed" style="border-right-width: 0;">
                                <a href="/users/accountsettings"><h4 style="margin-top: 16px;margin-bottom: 4px;">Account settings</h4></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div id="settings-form" class="col-sm-8 form-group border-1" >
                            <div id="rating-page" class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <span class="heading">Your Rating</span>
                                    <span class="glyphicon glyphicon-star checked"></span>
                                    <span class="glyphicon glyphicon-star checked"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <p>0.0 average based on 0 reviews.</p>
                                    <hr style="border: 2px solid #f1f1f1">

                                    <div class="row">
                                        <div class="side">
                                            <div>5 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>0</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="side">
                                            <div>4 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-4"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>0</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="side">
                                            <div>3 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-3"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>0</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="side">
                                            <div>2 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-2"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>0</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="side">
                                            <div>1 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-1"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>0</div>
                                        </div>
                                    </div>

                                    <hr style="border: 2px solid #f1f1f1">
                                    <div class="comments-container">
                                        <div class="rating-container-fluid">
                                            <img src="/profile-icon.png" alt="Avatar" style="width:90px">
                                            <p><span>Test Testsson</span> CEO at Test Company.</p>
                                            <p>No one is better than John Doe.</p>
                                            <p><button>Comment</button> <button>Repport</button></p>
                                        </div>
                                        <div class="rating-container-fluid">
                                            <img src="/profile-icon.png" alt="Avatar" style="width:90px">
                                            <p><span>Qwerty Qwerty</span> CEO at Qwerty Company.</p>
                                            <p>John Doe saved us from a web disaster.</p>
                                            <p><button>Comment</button> <button>Repport</button></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-2"></div>
                            </div>




                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/ClientSideJS/profileSettingsClient.js"></script>
