<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="slogan">
                <p>
                    <h3 id="slogan">Plant your idea and make IT reality!</h3>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="col-sm-4">

</div>
<div id="login-form" class="col-sm-4">
    <h2>Login</h2>
    <% include ./partials/messages %>
    <form action="/users/login" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me.</label>
            <br><a href="/users/forgottenpassword">Forgot password?</a>
            <br><a href="/users/register">Register new account.</a>
            <br><a href="/users/changepassword">Change your password.</a>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>
<div class="col-sm-4">

</div>