.create-project-wrapper{
    margin-top: 50px;
} 

#create-project-title {
    width: 250px;
    margin-top: 50px;
}

textarea.form-control {
    width: 500px;
    height: 200px;
    resize: none;
}
.form-control#requirements-input {
    width: 500px;
}
#requirements-input.form-control:focus {
    width: 500px;
}

#written-tags-container{
    margin-left: 0px;
    display: flex;
} 
.tag-container-project .tag {
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
    width: auto;
    height: 30px;
    font-size: 17px;
    box-shadow: inset 0 0 2px #0303034b;
}
.tag-container-project .tag:hover{
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    cursor: pointer;
    box-shadow: inset 0 0 2px #3a3a3a4b;
}
.tag-container-project .tag .glyphicon-remove:hover {
    color: #000000;
}
.tag.col-sm-1 {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}
.tag-text {
    margin-right: 5px;
    margin-left: 5px;   
}
.glyphicon-remove {
    margin-right: 5px;
    font-size: 14px;
}
#dev-amount {
    width: 100px;
}
#dev-amount-container {
    margin-top: 50px;
}

.lower-form-section {
    margin-top: 50px;
}

#create-project-form {
    background-color: white;
    margin-top: 0px;
    padding-top: 10px;
    padding: 10px;
    text-align: justify;
    height: 650px;
}
.form-border {
    border: 2px solid black;
    height: 91%;
    padding: 15px;
}
#written-tags-container {
    height: 30px;
}

.lower-form-section {
    margin-top: 10px;
}

