/*.container-fluid{
    width: 100%;
}
*/

#dashboard-container{
    width:100%;
    padding: 0px;
    height: 800px;
    margin-top: 58px;
    display: flex;
    background-color: #cad3d6;
    padding-top: 12px;
}
#taskSide-outerframe{
    /*background-color: rgba(253, 253, 255, 1);*/
    background-color: inherit;
    padding: 0px;
    width: 25%;
    min-width: 350px;
    height: 660px;
    display: flex;
    margin: 0px 6px;
}
#taskSide{
    /*width: 385px;*/
    margin: 0px 6px;
    background-color: inherit;
    padding: 0px;
    border: 0px;
    display: inline;
}
#page-center-and-task-contact-side {
    width: 100%;
}
#taskLeftCloseBtn{
    float: right;
    background-color: gainsboro;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    height: 659px;
    width: 20px;
    display: inline;
}
#taskRightOpenBtn {
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  height: 659px;
  width: 20px;
  display: none;
}
#page-center-side{
    background-color: #fdffff;
    height: 660px;
    border: 0px solid #d6d6d6;
    padding: 10px;
    width: 50%;
}
#taskAndContactSide-outerframe{
    /*background-color: rgba(253, 253, 255, 1);*/
    background-color: inherit;
    padding: 0px;
    /*width: 405px;*/
    height: 660px;
    display: flex;
    width: 25%;
    min-width: 350px;
    margin: 0px 6px;
}
#taskAndContactSide{
    width: 100%;
    margin: 0px 6px;
    /*background-color: #d6d6d6;*/
    background-color: inherit;
    padding: 2px;
    border: 0px;
    display: inline;
}
#taskAndContactLeftCloseBtn {
  float: right;
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  height: 659px;
  width: 20px;
  display: inline;
}
#taskAndContactRightOpenBtn {
    float: left;
    background-color: gainsboro;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
    height: 659px;
    width: 20px;
}
.logo{
    padding: 0px;
}
.slogan{
    text-align: center;
    padding: 10px;
    color: darkgreen;
}
#slogan{
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    color: darkgreen;
}
.navbar.navbar-inverse{
    background-color: #b4f066bb;
}
#project-card-header {
    margin-bottom: 0px;
    display: block;
    /*width: 375px;*/
    border: 0px solid lightgrey;
    /*background-color: #017493;*/
    border-radius: 0px;
    padding: 1px;
    padding-top: 4px;
    box-shadow:0px 1px 3px grey;
    padding-left:21px;
    color: snow;
}
.project-card {
    margin: 6px 0px;
    margin-bottom: 0px;
    display: block;
    /*width: 375px;*/
    /*height: 100px;*/
    border: 0px solid lightgrey;
    background-color: #fdffff;
    border-radius: 3px;
    padding: 5px;
    padding-top: 8px;
    box-shadow:0px 1px 8px 3px #485370;
    word-wrap: break-word;
}

#project-card-inner-wrapper {
    padding-right: 0px;
    padding-left: 15px;
}

#profile-card-pic {
    width: 50px;
    border: 2px solid darkgrey;
    margin-top: 0px;
    margin-bottom: 20px;
}

#project-card-date-and-button-wrapper {
    display: inline-flex;
    margin: 0px 0px;
}
#project-card-task-title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}
#project-card-task-description{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    margin-bottom: 0px;
}
#project-card-date {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 8px;
}
#project-card-info-btn {
    margin-top: 10px;
}
.project-card-info-btn-inner {
    padding: 6px 4px;
    background-color: #067b8f;
    font-size: 10px;
    /*margin: 0px 12px;*/
    /*float: right;*/
}
.project-card-info-btn-inner:hover {
    background-color: #385256;
}
#no-wrap{
    overflow: hidden;
}
#show-project{
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    /*! box-shadow: 5px 10px 8px #888888; */
    display: none;
    /*! padding: 10px; */
    /*! border: 2px solid gray; */
    border-radius: 5px;
    background-color: snow;
}
#show-project-content{
    display: none;
    padding-top: 30px;
    font-size: 16px;
}
#show-project-content > p {
    padding: 0px 25px;
    margin-bottom: 30px;
}
#show-project-content > p > strong{
    color: #017493;
}
#show-project-content > hr {
    border: 1px dashed #017493;
}
#show-project-btns {
    background-color: #304043;
}
#project-edit-btn{
    float: right;
}
#project-join-btn{
    float: right;
}
.pagination {
  display: inline-block;
}
.pagination a {
  font-size: 14px;
  color: black;
  float: left;
  padding: 6px 14px;
  text-decoration: none;
}

.pagination a.active {
  color: inherit;
  border-style: solid;
  border-radius: 4px;
  border-width: medium;
  border-color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination-prev-link-hidden {
  visibility: hidden;
}
#projectID{
    display: none;
}

/* *** Project info in center-page ***** */
#show-project-header {

}
.show-this-project-text {
    padding: 0px 20px;
}
#project-titlebox {
    background-color: snow;
    border-style: solid;
    border-width: 5px;
    border-color: #017493;
    border-radius: 10px;
    padding: 8px !important;
    text-align: center;
    color: #017493;
    font-size: 22px;
}

#project-descriptionbox{
    /*padding: 0px 10px;*/
}

#project-requirementsbox{

}

#project-paymentbox{

}

#project-devamountbox{

}

#project-datebox {

}

#project-join-btn{
    color: #304043;
    background-color: #b1ba35;
    font-size: 16px;
    float: right;
    margin-right: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: snow;
    padding: 5px 10px;
}

#project-join-btn:hover {
    color: #b1ba35;
    background-color: snow;
    font-size: 16px;
    margin-right: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: #b1ba35;
    padding: 5px 10px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #70af5b;
    border-radius: 10px;
    margin: 2px 0px;
    float: right;
    padding: 4px 10px;
}
