.logo{
    padding: 0px;
}
.slogan{
    text-align: center;
    padding: 10px;
    color: #63ac00;
}
#slogan{
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    color: #63ac00;
}
.navbar.navbar-inverse{
    background-color: #b4f066bb;
}
