.logo {
    padding: 0px;
}
.slogan {
    text-align: center;
    padding: 10px;
    color: darkgreen;
}
#slogan {
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    color: darkgreen;
}
#navbar-wrapper {
    display: inline-flex;
    position: absolute;
    width: 100%;
}
#navbar-header {
    box-shadow: 0px 0px 10px 3px #2a3c45;
    height: 60px;
    background-color: #154955;
    border-width: 0px;
}
.navbar.navbar-inverse{
    background-color: #b4f066bb;
}
#profile-header {
    /*margin-bottom: 20px;*/
    padding-bottom: 20;
}
#container-profile-menu {
    margin: 0px;
    height: 85px;
}
#navbar-container {
    float: right;
}
#navbar-buttons-wrapper {
    width:25%;
    margin: 0px;
    display: flex;
}
#navbar-button-wrapper{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#matchMeBtn {
    margin-top: 10px;
    display: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    background-color: inherit;
    border-color: orange;
    border-width: medium;
    display: none;
    padding: 5px 10px;
    color: orange;
}
#matchMeBtn:hover {
    background-color: orange;
}
.navbar-brand {
    padding-top: 3px;
    padding-left: 26px;
    padding-right: 145px;
}
#navbar-button:hover {
    background-color: #44AA44;
    border-color: #449d44;
}
#navbar-middle-wrapper {
    width:25%;
    margin: 0px;
    /*display: flex;*/
}

#navbar-logo-wrapper {
    padding-top: 8px;
}
#search-bar-field{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 14px;
}
#search-bar-slogan{
    width: 350px;
    height: 85px;
}
#search-bar{
    padding: 15px;
    padding-left: 100px;
    width: 650px;
    height: 85px;
}
#search-bar-Btns{
    padding: 15px;
    width: 250px;
    height: 85px;
}
#container-profile-menu{
    padding: 15px;
    height: 85px;
}
.profile-menu{
    margin-top: 10px;
    padding: 0px;
    text-align: center;
}
#profile-pic-wrapper {
    padding-left:10px;
    padding-right:20px;
    padding-top:4px;
    padding-bottom:0px;
}
#profile-pic {
    border-width: medium;
    border-style: solid;
}
#profile-header{
   background-color: rgba(253, 253, 255, 1);
    height: 100px;
    padding-bottom: 20;
}
#matchUserBtn {

        margin-top: 10px;
        display: none;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 14px;
        background-color: inherit;
        border-color: #b1ba35;
        border-width: 2px;
        display: none;
        padding: 5px 10px;
        color: #b1ba35;
}

#createProjectBtn {
    margin-top: 10px;
    display: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    background-color: inherit;
    border-color: #b1ba35;
    border-width: 2px;
    display: none;
    padding: 5px 10px;
    color: #b1ba35;
}
#createProjectBtn:hover {
    color: #304043;
    background-color: #b1ba35;
    border-color: #b1ba35;
}

#matchUserBtn:hover {
    color: #304043;
    background-color: #b1ba35;
    border-color: #b1ba35;
}
#dropdown-menu {
    margin-top:9px;
    padding-bottom: 0px;
    padding-top: 22px;
    background-color: inherit;
    color: snow;
    font-size: 14px;
}
#dropdown-menu:hover {
    color:#b1ba35;
}
#dropdown-menu-list {
    background-color: #304043;
}
#dropdown-menu-list > li > a {
    color:snow;
}
#dropdown-menu-list > li > a:hover {
    color:#b1ba35;
    background-color: inherit;
}
#srch-term:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(53, 155, 0, 0.6);
    border-color: #b1ba35;
}
