#main-wrapper{
    padding: 0px 15px;
}
.logo{
    padding: 0px;
}
.slogan{
    text-align: center;
    padding: 10px;
    color: darkgreen;
}
#slogan{
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    color: darkgreen;
}
.form-field-margin {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.navbar.navbar-inverse{
    background-color: #b4f066bb;
}
#profile-settings-page{
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
}
#profile-settings-container {
    padding: 0px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
#container-tags-input{
    display: none;
}
#header-profile{
    padding-left: 20px;
    margin-bottom: 5px;
    padding-top: 20px;
}
.container-tags-input{
    width: 70%;
    background-color: #fff;
    border-radius: 1px;
}
.tag-container{
    margin-left: 0px;
    display: flex;
}
.tag-container .tag {
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
    width: auto;
    height: 30px;
    font-size: 17px;
    box-shadow: inset 0 0 2px #0303034b;
}
.tag-container .tag:hover{
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    cursor: pointer;
    box-shadow: inset 0 0 2px #3a3a3a4b;
}
.tag-container .tag .glyphicon-remove:hover {
    color: #000000;
}
.tag.col-sm-1 {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}
#span-tag-text {
    padding-left: 2px;
    margin-right: 5px;
    margin-left: 5px;
}
.glyphicon-remove {
    margin-right: 5px;
    font-size: 14px;
}
.tag-container input{
    flex: 1;
    font-size: 12px;
    padding: 1px;
    outline: none;
    border: 0;
}

#hidden-input{
    background-color:inherit;
}
#submit-btn {
    float:right;
    margin-top: 120px;
}
