body {
    background-color: #aab9bf;
    /*font-family: 'Titillium Web', sans-serif;*/
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
}
.navbar.navbar-inverse{
    background-color: #b4f066bb;
}
a:hover {
    color:#f6f6f6;
}

.color-text-1 {
    color:snow;
}
.color-text-1:hover {
    color:#eabe00;
}
.color-inverted-text{
    color:snow;
}

.color-text-accent {
    color: #FFA500;
}
.color-border-accent{
    border-color: #FFA500;
}

.rounded-corners{
    border-radius: 2px;
}
.border-1 {
    border-style:solid;
    border-color:#017493;
    border-radius: 4px;
    border-width: 3px;
}
.background-color-1{
    background-color: #017493;
}
.background-color-2{
    background-color: green;
}
.tabs-bar-outer{
    padding: 0px;
    padding-top: 20px;
}
.tabs-bar-inner{
    border-right-color: snow;
    border-right-width: 2px;
    border-right-style: solid;
}
.tabs-bar-inner-dimmed{
    margin-top:10px;
    border-right-color: snow;
    border-right-width: 2px;
    border-right-style: solid;
    background-color: #a3babd;
    padding-top:5px;
}
.tabs-bar-inner-dimmed > a{
    color: #666;
}
.tabs-bar-inner-dimmed > a:hover{
    color: snow;
    text-decoration: none;
}
h2 {
    margin-top: 0px;
}
#login-button{
    color: rgba(0, 128, 0, 1);
}
.input-group{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    /*width: 470px;*/
}
.logo{
    padding: 0px;
}
.slogan{
    text-align: center;
    padding: 0px;
    color: darkgreen;
}
#slogan{
    text-align: left;
    padding: 0px;
    margin-top: 30px;
    color: darkgreen;
}

#login-form{
    color: #f6f6f6;
    background-color: #63ac00;
    width: 448px;
    height: 320px;
    padding: 0px 30px;
    margin-bottom:150px;
}
#login-form  label {
    font-size:14px;
}
#login-form  a {
    font-size:14px;
    color: #354e56;
}
#image-roof {
    margin-top: 70px;
}

#forgottenpassword-form{
    margin-top: 120px;
}
#changepassword-form{
    margin-top: 120px;
}

#resetpassword-form{
    margin-top: 120px;
}

#register-form{
    margin-top: 120px;
}

#alert_msg{
    margin: 0px;
    padding: 0px;
    width: 490px;
}
#profile-page-left-side{
    display: inline-block;
    border-radius: 3px;
    border: 2px solid grey;
    height: 600px;
}
#profile-page-center-side{
    display: inline-block;
    border-radius: 3px;
    border: 2px solid grey;
    height: 600px;
}
#profile-page-right-side{
    display: inline-block;
    border-radius: 3px;
    border: 2px solid grey;
    height: 600px;
}
#profile-settings-page{
    margin-top: 0px;
    padding-top: 10px;
    padding: 0px;
    text-align: justify;
}
#settings-form{
    font-size:12px;
    margin-bottom: 50px;
    /*border: 2px solid black;*/
    padding: 15px;
    display: block;
    border-radius: 4px;
    border-width: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.checkBox{
    display: inline-block;
    height: 20px;
    width: 20px;
}
.setting-section{
    display: block;
}
.user-card{
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
#profile-card-pic{
    border: 2px solid black;
    padding: 1px;
}
