.project{
    background-color: #b4f066bb;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    margin-left: 18px;
    padding: 5px;
    width: 440px;
    height: 150px;
    border-radius: 3px;
    border: 2px solid gray;
}